.text-bold {font-weight: bold;}
.color-aqua {color: aqua;}
.color-blue {color: blue;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.overline-orange {text-decoration: overline;text-decoration-color: orange;}
img {width: 30%;height: auto;}